<ion-view title="Rate">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h1>Please rate our service now...</h1>
    <script charset="utf-8">
      navigator.camera.getPicture(onSuccess, onFail, {
        quality: 100,
        destinationType: Camera.DestinationType.DATA_URL
      });

      function onSuccess(imageData) {
          // here we can upload imageData to the server
      }

      function onFail(message) {
          alert('Failed because: ' + message);
      }
    </script>
    <div class="list card">

      <a href="#" class="item item-icon-left">
        <i class="icon ion-thumbsup"></i>
        Good
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-android-hand"></i>
        OK
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-thumbsdown"></i>
        Bad
      </a>

    </div>
  </ion-content>
</ion-view>
