<ion-view title="Rate">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h1>Please rate our service</h1>
    <div class="list card">

      <a href="#" class="item item-icon-left">
        <i class="icon ion-thumbsup"></i>
        Good
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-android-hand"></i>
        OK
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-thumbsdown"></i>
        Bad
      </a>

    </div>
  </ion-content>
</ion-view>
